.offers {
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, white, rgba(233, 189, 189, 0.6) 60%);
}

.offers-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.offers-left h1 {
    color: #090909;
    font-size: 75px;
    font-weight: 600;
}

.offers-left p {
    color: #090909;
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}

.offers-left button {
    width: 300px;
    height: 100px;
    border-radius: 75px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 25px;
    cursor: pointer;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 40px;
}

